## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <header id="header">
      <div class="logo">
        <a href="/"><img src="/img/logo.png" style="width:150px"/></a>
      </div>
      <div>
        <nav>
          <div>
          %for url, text in navigation_links[lang]:
            % if rel_link(permalink, url) == "#":
            <span><a href="${permalink}" class="active">${text}<span class="sr-only"> ${messages("(active)", lang)}</span></a></span>
            %else:
            <span><a href="${url}">${text}</a></span>
            %endif
            <span>|</span>
          %endfor
          %if search_form:
          <span class="searchform" role="search">
            ${search_form}
          </span>
          %endif
          </div>
        </nav>
      </div>
    </header>
    ${template_hooks['page_header']()}
</%def>
