## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <header id="header">
        <nav>
          <ul>
            %for url, text in navigation_links[lang]:
            % if isinstance(url, tuple):
            <li> ${text}
              <ul>
                %for suburl, text in url:
                % if rel_link(permalink, suburl) == "#":
                <li><a href="${permalink}" class="active">${text}<span class="sr-only"> ${messages("(active)", lang)}</span></a></li>
                %else:
                <li><a href="${suburl}">${text}</a></li>
                %endif
                %endfor
              </ul>
              % else:
              % if rel_link(permalink, url) == "#":
              <li><a href="${permalink}" class="active">${text}<span class="sr-only"> ${messages("(active)", lang)}</span></a></li>
              %else:
              <li><a href="${url}">${text}</a></li>
              %endif
              % endif
              %endfor
              ${template_hooks['menu']()}
              ${template_hooks['menu_alt']()}
          </ul>
        </nav>
        <div class="logo">
          <a href="/"><img src="/img/logo.png" style="width:150px"/></a>
        </div>
        %if search_form:
        <div class="searchform" role="search">
          ${search_form}
        </div>
        %endif
      </div>
    </header>
    ${template_hooks['page_header']()}
</%def>
