## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>
<%inherit file="base.tmpl"/>

<%def name="post_list(posts)">
<div id="post-list">
  <div>
% for post in posts:
    <article class="h-entry post-${post.meta('type')}">
      <a href="${post.permalink()}" rel="bookmark">
        <time class="published dt-published" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time>

        <span> - ${post.title()|h}</span>
      </a>
    </article>
% endfor
  </div>
</div>
</%def>

<%def name="about_section()">
<div id="about">
  <div class="blah-blah">
    <p>Hello! Welcome to YEGSEC, the best Edmonton-based security meetup east of the Rockies.</p>
    <p>We meet at Startup Edmonton every 3rd Tuesday of each month to present on hot topics, orchestrate workshops and host Capture the Flag events.</p>
    <p>Whether you're new to the Info Sec world and are looking to expand your knowledge or you're a security professional who wants to socialize with your peers, this is the security meetup for you!</p>
    <p>We strive to provide a safe learning environment for everyone, so come on out and join the fun!</p>
  </div>
</div>
</%def>

<%block name="extra_head">
    ${parent.extra_head()}
    % if posts and (permalink == '/' or permalink == '/' + index_file):
        <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
    % endif
</%block>

<%block name="content">
<%block name="content_header">
    ${feeds_translations.translation_link()}
</%block>
% if 'main_index' in pagekind:
    ${front_index_header}
% endif

${about_section()}
${post_list(posts)}
</%block>
